.usedarkbg {
  background-color: #000;
}
.body-bg-dark {
  background-color: #000;
}
.bg-dark {
  background-color: #000; 
}
.body-bg-white {
  background-color: #fff;
}

/* Page Loader */
.page-loader {
  background: #000;
}

/* Navigation */
.main-nav {
  height: 75px !important;
}
.container-1170 {
  width: 960px;
  margin: 0 auto;
}
.inner-nav ul li {
  margin-left: 100px;
}
.main-nav.dark {
  background-color: rgba(0,0,0, .65);
}
.inner-nav.desktop-nav {
  margin-top: 20px;
}
.inner-nav ul {
  font-size: 11px;
  letter-spacing: 1.5px;
}

/* Social Icon */
.social-icon {
  display: inline-block;
  margin: 5px 20px 5px 0;
  background-color: #efefef !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 4px;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.social-icon a {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.social-icon a:hover {
  background-color: #444444;
  background-position: 0px -40px !important;
}
.social-icons ul {
  list-style: none;
  margin: 0 0 -1px 0;
  float: right;
}
.social-icons ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.social-icons ul li a {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.social-icons a:hover {
  background-color: #cccccc;
  background-position: 0px -40px !important;
  opacity: 1;
}
.social-icons .social-icon {
  margin-top: 10px;
}
.social-widgets {
  margin-top: -33px;
  float: right;
}

/* Footer */
#footer {
  height: 50px;
  width: 100%;
  background: #000;
  overflow: hidden;
}
#footer.sticky {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
#footer p {
  margin: 0;
  color: #efefef;
  font-size: 8px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: top;
  padding-top: 17px;
  margin-right: 40px;
}

#footer .social-icon {
  width: 25px;
  height: 25px;
}
#footer .social-facebook a {
  background: url(../images/social/icons/facebook.png) no-repeat -7px -7px
}
#footer .social-facebook a:hover {
  background-color: #3b5998;
  background-position: -7px -47px !important
}
#footer .social-instagram a {
  background: url(../images/social/icons/instagram.png) no-repeat -7px -7px
}
#footer .social-instagram a:hover {
  background-color: #517FA4;
  background-position: -7px -47px !important
}

/* ------------------------------------------------------------------------ */
/*  PAGE TRANSITION ANIMATION
/* ------------------------------------------------------------------------ */
.page-animate {
  position: absolute; 
  top: 0;
  width: 100%;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.page-animate.ng-leave {  
  -webkit-animation: fadeOut 0.3s both ease-in;
  -moz-animation: fadeOut 0.3s both ease-in;
  animation: fadeOut 0.3s both ease-in;
}
.page-animate.ng-enter    {  
  -webkit-animation: fadeIn 0.3s both ease-in;
  -moz-animation: fadeIn 0.3s both ease-in;
  animation: fadeIn 0.3s both ease-in;    
}


/* Responsive */
@media only screen and (max-width: 1024px) {
  .container-1170 {
    width: 100%;
  }
  .nav-logo-wrap {
    margin-left: 10px;
  }
  .inner-nav.desktop-nav {
    margin-top: 0;
  }
}

/* All */
body {
  font-family: 'Lato';
  font-weight: 300;
}
.bg-beach {
  background-color: #d9d9d9;
}
.bg-white {
  background-color: #fff;
}
span.quote {
  background-image: url('../images/quote.png');
  width: 35px;
  height: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  background-position: 0px 0px;
}
span.open-quote {
  left: -30px;
  top: 5px;
}
span.close-quote {
  top: 200px;
  left: 775px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


/* About Page */
.about-page #about {
  padding: 80px 0;
}
.about-page #about .section-title {
  margin-top: 100px;
}
.about-page .about-quote-1 {
  font-weight: 300;
  font-size: 23px;
  text-align: center;
  line-height: 2.4;
  margin-bottom: 195px;
}
.about-page .about-quote-2 {
  font-family: 'Lusitana';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 2em;
  color: #7f8c8d;
  font-style: italic;
  margin-bottom: 200px;
}
.about-page .vision-section .row {
  height: 239px;
}
.about-page .vision-section .row div.col-md-8.col-lg-8 {
  padding-top: 80px;
}
.about-page #vision .section-line {
  margin-bottom: 32px;
  margin: 10px auto;
}
.about-page #vision .section-title {
  font-size: 24px;
  margin-bottom: 0px;
}
.about-page p.vision {
  font-family: 'Lusitana';
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  color: #777;
}
.about-page .vision-image {
  background-image: url('../images/about/minimalist.jpg');
  background-size: contain;
  background-repeat: none;
  background-position: 0px 0px;
  height: 239px;
}
.about-page #counts {
  padding: 280px 0;
}
.about-page .service-item-full {
  width: 100%;
}
.about-page .count-block {
  display: block;
  text-align: center;
}
.about-page .count, .about-page .count-dollars {
  display: inline-block;
  font-family: Montserrat, arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}
.about-page #illustrationModal {
  top: 120px;
  overflow: hidden;
  overflow-y: hidden;
}
.about-page #illustrationModal h4 {
  color: #555; 
}
.about-page #illustrationModal p {
  color: #777;
}
.about-page #illustrationModal p strong {
  color: #e41919;
}
.contact-page .team-grid,
.about-page .team-grid {
  width: 95%;
  margin: 0 auto;
}
.contact-page #team.page-section {
  padding-top: 0;
}
.contact-page #team .mb-60 {
  margin-bottom: 15px;
}
.contact-page .team-item,
.about-page .team-item {
  width: 195px;
}
.contact-page .team-item-role,
.about-page .team-item-role {
  display: inline-table;
}
.contact-page .team-item-name, .contact-page .team-item-role,
.about-page .team-item-name, .about-page .team-item-role {
  color: #000;
}
.about-page .services-title {
  margin-top: -50px;
}
.about-page .services-subtitle {
  color: #fff;
}
.about-page .contact-item, .about-page .contact-item a, .about-page .ci-text,
.contact-page .contact-item, .contact-page .contact-item a, .contact-page .ci-text {
  color: rgba(255,255,255, .75);
  font-size: 10px;
}
.about-page .subsidaries .ci-text {
  text-align: center;
}
.contact-page .contact-item, .contact-page .contact-item a, .contact-page .ci-text {
  font-size: 10px;
}
.contact-page .ci-title .ci-text {
  font-size: 10px;
  font-style: 300;
}
.about-page .bot-menu-item,
.contact-page .bot-menu-item {
  cursor: pointer;
}

.about-page #contact {
  padding-top: 60px;
}



/* Contact Page */
#contact {
  padding-bottom: 0px;
}
.contact-page .ci-icon {
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
  width: 45px;
  height: 40px;
  top: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  border-left: none;
}
.contact-page .contact-item {
  padding-right: 0 !important;
}
.contact-page .spacing {
  margin-top: 80px;
}
.contact-page .ci-title {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.contact-page .ci-text,
.contact-page .ci-text a {
  font-size: 12px;
  text-align: center;
}
.contact-page #map-canvas {
  display: block;
}
.contact-page #contact > div.row > div > div > div.section-title {
  margin-top: 280px;
}
.contact-page .section-heading {
  color: #fff;
}
.contact-page .lead {
  font-size: 16px;
}



/* Pricing Page */
#pricing-list table {
  margin: 0 auto;
}
#pricing-list table td {
  padding: 10px 15px;
}
#pricing-list thead {
  border-bottom: 2px solid #e41919;
}
#pricing-list thead td {
  font-size: 13px;
  font-weight: 300;
}
.pricing-page .icon,
#pricing-total .icon {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  color: #e41919;
  -webkit-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
#pricing-list tbody tr:nth-child(odd) {
  background-color: #eee;
}
#pricing-list tbody tr {
  font-size: 18px;
}
#pricing-list tbody tr input {
  padding-left: 10px;
}
#pricing-list tbody tr td:first-child {
  width: 40%;
}
#pricing-list tbody span.quantity-unit {
  margin-left: 5px;
}
.pricing-page {
  padding-top: 80px;
}
.pricing-page .workflow-image {
  width: 100%;
  margin-top: 40px;
}
.pricing-page.how-it-works p {
  font-size: 18px;
  text-align: center;
}
.pricing-page .alt-services-title {
  font-size: 24px;
}
.pricing-page .alt-service-item {
  font-size: 18px;
}
#pricing-total {
  float: right;
  width: 200px;
  position: fixed;
  top: 160px;
  right: 20px;
  background-color: #eee;
  padding: 20px;
}
#pricing-total h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
  border-bottom: 2px solid #e41919;
}
#pricing-total p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

/* Portfolio Page */
.portfolio-page {
  padding: 80px 100px 0 100px;
}
.portfolio-page .tp-bullets.tp-thumbs {
  background-color: transparent;
}
.portfolio-page .bannercontainer {
  width:100%;
  position:relative;
  padding:0;
}
 
.portfolio-page .banner{
  width:100%;
  position:relative;
}
