<!-- Navigation panel -->
<nav class="main-nav dark stick-fixed" ng-controller="NavCtrl">
  <div class="full-wrapper relative clearfix container-1170">
    <div class="nav-logo-wrap local-scroll">
        <a href="/" class="logo"><img src="images/logo-mini.png" alt="" /></a>
    </div>
    
    <div class="mobile-nav"><i class="fa fa-bars"></i></div>
    
    <!-- Main Menu -->
    <div class="inner-nav desktop-nav">                                    
      <ul class="clearlist scroll-nav local-scroll">
        <li><a href="/about">About</a></li>
        <!-- Item With Sub -->
        <li>
          <a href="" class="mn-has-sub">Portfolio <i class="fa fa-angle-down"></i></a>
          <ul class="mn-sub">
            <li><a href="/portfolio-commercial">Commercial</a></li>
            <li><a href="/portfolio-residential">Residential</a></li>
          </ul>
        </li>
        <!-- End Item With Sub -->

        <!-- Item With Sub -->
        <li>
          <a href="#/pricing" class="mn-has-sub">Pricing <i class="fa fa-angle-down"></i></a>
          <ul class="mn-sub">
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/how-it-works">How It Works</a></li>
            <li><a href="/information">More Info</a></li>
            <li><a href="/terms">Terms &amp; Conditions</a></li>
          </ul>
        </li>
        <!-- End Item With Sub -->
        
        <li><a href="/contact">Contact</a></li>
        <li><a href="/career">Career</a></li>
      </ul>
    </div>
    <!-- End Main Menu -->
  </div>
</nav>      
<!-- End Navigation panel -->