<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-dashboard"></i> Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>My Portfolio</h1>
    </div>
</div>

<!-- /.row -->
<div class="row">
    
    <!-- Home Slide -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-home fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @home_slides_count %></div>
                        <div>Home Slides</div>
                    </div>
                </div>
            </div>
            <a href="<%= admin_home_slides_path %>">
                <div class="panel-footer">
                    <span class="pull-left">Manage Slides</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End of Home Slide -->


    <!-- Commercial Slide -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-building-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @commercial_slides_count %></div>
                        <div>Commercial Slides</div>
                    </div>
                </div>
            </div>
            <a href="<%= admin_commercial_slides_path %>">
                <div class="panel-footer">
                    <span class="pull-left">Manage Slides</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End of Home Slide -->

    <!-- Residential Slide -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-pagelines fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @residential_slides_count %></div>
                        <div>Residential Slides</div>
                    </div>
                </div>
            </div>
            <a href="<%= admin_residential_slides_path %>">
                <div class="panel-footer">
                    <span class="pull-left">Manage Slides</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End of Home Slide -->
</div>
<!-- /.row -->