<!-- START FOOTER -->
<div id="footer">
  <div class="container-1170">
    <div class="social-icons">
      <p>Copyright &copy; 2014. Singapore Carpentry. All Rights Reserved.</p>
      <div class="social-icon social-facebook"><a href="https://www.facebook.com/singaporecarpentry" target="_blank" data-original-title="Facebook">Facebook</a></div>
      <div class="social-icon social-instagram"><a href="http://instagram.com/singaporecarpentry" target="_blank" data-original-title="Instagram">Instagram</a></div>
    </div>
    <div class="social-widgets">
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsingaporecarpentry&amp;width=135&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=824577460947664" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:135px; height:21px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>
<!-- END FOOTER -->
