<!-- Team Grid -->
<div class="team-grid">
  
  <!-- Team Item -->
  <div class="team-item animate-init" data-anim-type="fade-in" data-anim-delay="200">
    <div class="team-item-image">
      <img src="images/team/team-0.jpg" alt="" />
      <div class="team-item-detail">
        I believe furniture should be both stylish and functional. I get my inspiration from everyday life. 
      </div>
    </div>
    <div class="team-item-descr">
      <div class="team-item-name">
        Samuel
      </div>
      <div class="team-item-role">
        Designer
      </div>                        
    </div>
  </div>
  <!-- End Team Item -->

  <!-- Team Item -->
  <div class="team-item animate-init" data-anim-type="fade-in" data-anim-delay="200">
    <div class="team-item-image">
      <img src="images/team/team-1.jpg" alt="" />
      <div class="team-item-detail">
        I believe furniture should be both stylish and functional. I have a very unpretentious approach towards design.
      </div>
    </div>
    <div class="team-item-descr">
      <div class="team-item-name">
        Kelvin Tay
      </div>
      <div class="team-item-role">
        Designer
      </div>                        
    </div>
  </div>
  <!-- End Team Item -->

  <!-- Team Item -->
  <div class="team-item animate-init" data-anim-type="fade-in" data-anim-delay="300">
    <div class="team-item-image">
      <img src="images/team/team-4.jpg" alt="" />
      <div class="team-item-detail">
        "Simplicity is the ulitmate sophisticsation" To me Leonardo da Vinci surmises design in this quote.
      </div>
    </div>
    <div class="team-item-descr">
      <div class="team-item-name">
        Ryan Sim
      </div>
      <div class="team-item-role">
        Designer
      </div>
    </div>
  </div>
  <!-- End Team Item -->

  <br>

  <!-- Team Item -->
  <div class="team-item animate-init" data-anim-type="fade-in" data-anim-delay="300">
    <div class="team-item-image">
      <img src="images/team/team-3.jpg" alt="" />
      <div class="team-item-detail">
        SC's commitment in providing well-made carpentry whilst still maintaining reasonable prices has always intrigued me.
      </div>
    </div>
    <div class="team-item-descr">
      <div class="team-item-name">
        Rachel Ong
      </div>
      <div class="team-item-role">
        Business Development
      </div>
    </div>
  </div>
  <!-- End Team Item -->

  <!-- Team Item -->
  <div class="team-item animate-init" data-anim-type="fade-in" data-anim-delay="300">
    <div class="team-item-image">
      <img src="images/team/team-5-david.jpg" alt="" />
      <div class="team-item-detail">
        When its comes to carpentry, I am most drawn to sleek, timeless pieces that endure the test of time.
      </div>
    </div>
    <div class="team-item-descr">
      <div class="team-item-name">
        David
      </div>
      <div class="team-item-role">
        Designer
      </div>
    </div>
  </div>
  <!-- End Team Item -->

  <!-- Team Item -->
  <div class="team-item animate-init" data-anim-type="fade-in" data-anim-delay="300">
    <div class="team-item-image">
      <img src="images/team/team-6.jpg" alt="" />
      <div class="team-item-detail">
        At SC we brought together a team of skilled carpenters and designers all committed to provide quality carpentry at affordable prices to our clients.
      </div>
    </div>
    <div class="team-item-descr">
      <div class="team-item-name">
        Ernest Tan
      </div>
      <div class="team-item-role">
        Senior Designer
      </div>
    </div>
  </div>
  <!-- End Team Item -->

</div>
<!-- End Team Grid -->

