<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainCtrl">
  <head>
    <title data-ng-bind="meta.title"></title>
    <meta name="description" content="{{meta.description.desc}}">
    <meta name="keywords" content="{{meta.description.keywords}}">
    <link rel="canonical" href="{{meta.description.canonical}}" />
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="fragment" content="!">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <!-- build:css({.tmp,app}) styles/vendor.css -->
    <link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/style-responsive.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/animations.min.css">
    <link rel="stylesheet" href="styles/vertical-rhythm.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.css">
    <link rel="stylesheet" href="styles/settings.css" media="screen" />
    <link rel="stylesheet" href="styles/magnific-popup.css">    
    <link rel="stylesheet" href="styles/colors/red-extra.css">
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/custom-style.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head>
    <body class="appear-animate body-bg-dark" >

        <!-- Facebook -->
        <div id="fb-root"></div>
         
        <!-- Page Loader -->        
        <div class="page-loader">
          <b class="spinner">Loading...</b>
        </div>
        <!-- End Page Loader -->

        <!-- Navigation panel -->
        <div ng-include src="'templates/navigation.html'"></div>  
        <!-- End Navigation panel -->
        
        <!-- Page Wrap -->
        <div class="page page-animate" id="top" ng-view>
        </div>


        <div ng-include src="'templates/google_analytics.html'"></div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <script async data-main="scripts/loader.js" src="scripts/require.js"></script>

  </body>
</html>
