<div class="about-page" ng-controller="AboutCtrl">
    <!-- Home Section -->
    <section class="home-section parallax-2" data-background="images/about/about-us-photo-2.jpg" id="home">
        <div class="js-height-full">
            
            <!-- Home Page Content -->
            <div class="home-content container">
                <div class="home-text animate-init" data-anim-type="fade-in-up" data-anim-delay="100"></div>
            </div>
            <!-- End Home Page Content -->
            
            <!-- Scroll Down -->
            <div class="local-scroll">
                <a href="#about" class="scroll-down"><i class="scroll-down-icon"></i><span>Scroll Down</span></a>
            </div>
            <!-- End Scroll Down -->

        </div>
    </section>
    <!-- End Home Section -->
                
                
                

                
    <!-- About Us Section -->
    <section class="page-section bg-white" id="about">
        <div class="container relative">
            
            <!-- Section Headings -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                        About Us<span class="st-point">.</span>
                    </div>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                </div>
            </div>
            <!-- End Section Headings -->

            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                 <h2 class="about-quote-1">
                    <span class="quote open-quote"></span>
                     Singapore Carpentry – a modern carpentry firm providing quality carpentry services at an affordable price. With a combined factory space of more than 7000 square feet, and more than 30 skilled carpenters, you can be sure we are able to meet your needs for custom-made carpentry efficiently.
                    <span class="quote close-quote"></span>
                 </h2>
                 <h3 class="about-quote-2">
                    Having rich experiences in bespoke furniture and cabinets, Singapore Carpentry is able to produce products that are at once timeless and impressive.  Singapore Carpentry uses a “design-and-build” concept; our experienced designers will work hand-in-hand with you to design entities precisely tailored to your requirements for multi-facetted living, meeting our modern days living needs. Bearing in mind our mission of providing quality carpentry at affordable price, we seek to retain the maximum values to our esteemed customers.
                 </h3>
                </div>
            </div>
            
        </div>
    </section>
    <!-- End About Us Section -->





    <!-- Vision Section -->
    <section class="vision-section bg-beach" id="vision">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div class="section-title">
                    Vision<span class="st-point">.</span>
                </div>
                <div class="section-line mb-60 mb-xxs-30"></div>
                <p class="vision">
                    “ To provide quality carpentry at an affordable price to everyone.”
                </p>
            </div>
            <div class="vision-image col-md-4 col-lg-4"></div>
        </div>
    </section>
    <!-- End Vision Section -->
                




    <!-- Some Facts Section -->
    <section class="page-section bg-white" id="counts">
        <div class="container relative">
            
            <!-- Counters -->
            <div class="row">
                
                <!-- Counter Item -->
                <div class="col-xs-6 col-sm-4">
                    <div class="count-number" data-counter="1050">
                        1050
                    </div>
                    <div class="count-descr">
                        <i class="fa fa-briefcase"></i>
                        <span class="count-title">Total projects completed in 2014</span>
                    </div>
                </div>
                <!-- End Counter Item -->
                
                <!-- Counter Item -->
                <div class="col-xs-6 col-sm-4">
                    <div class="count-block">
                        <div class="count">
                            $
                        </div>
                        <div class="count-dollars">
                            1
                        </div>
                        <div class="count">
                            ,
                        </div>
                        <div class="count-number count-dollars" data-counter="500">
                            500
                        </div>
                        <div class="count">
                            ,
                        </div>
                        <div class="count-number count-dollars" data-counter="560">
                            560
                        </div>
                    </div>
                    <div class="count-descr">
                        <i class="fa fa-dollar"></i>
                        <span class="count-title">Total cost savings</span>
                    </div>
                </div>
                <!-- End Counter Item -->
                
                <!-- Counter Item -->
                <div class="col-xs-6 col-sm-4">
                    <div class="count-block">
                        <div class="count">
                            $
                        </div>
                        <div class="count-dollars">
                            1
                        </div>
                        <div class="count">
                            ,
                        </div>
                        <div class="count-number count-dollars" data-counter="429">
                            429
                        </div>
                    </div>
                    <div class="count-descr">
                        <i class="fa fa-user"></i>
                        <span class="count-title">Average retained value per customer</span>
                    </div>
                </div>
                <!-- End Counter Item -->
                
            </div>
            <!-- End Counters -->
            
        </div>
    </section>
    <!-- End Some Facts Section -->
            
    <!-- Services Section -->
    <section class="split-section bg-scroll bg-dark-alfa-50" data-background="images/full-width-images/section-bg-1.jpg" id="services">
        <div class="clearfix relative">
            
            <!-- Section Headings -->
            <div class="split-section-headings animate-init"  data-anim-type="fade-in-up" data-anim-delay="100">
                <div class="ssh-table">
                    <div class="ssh-cell pt-140 pt-sm-70 pt-xs-50 pb-140 pb-sm-70 pb-xs-50">
                        <div class="section-title white">
                            Benefits
                        </div>
                        <h2 class="section-heading white">Why Choose Us</h2>
                    </div>
                </div>
            </div>
            <!-- End Section Headings -->
            
            <!-- Section Content -->
            <div class="split-section-content service-grid clearfix">
                
                <!-- Service Item -->
                <div class="service-item service-item-full">
                    <div class="si-cell">
                        <div class="si-inner">
                            <div class="service-intro">
                                <div class="service-icon">
                                    <span class="icon-star"></span>
                                </div>
                                <h3 class="service-title">Cost Saving</h3>
                            </div>
                            <div class="service-descr">
                                We understand the importance of fair pricing. That is why here at Singapore Carpentry, we are always looking to help you save costs and work within your budget. Still having doubts?
                                Below is an example to illustrate the competitive prices of Singapore Carpentry to help you save cost.
                                <br><br>
                                Nobody likes hidden costs. We believe in the importance of fair and transparent pricing. That is why at Singapore Carpentry, we exercise price transparency with all our clients. We hope to give you an ease of mind when working with us by quoting reasonable prices with no hidden costs. You can be assured that we will adhere strictly to the prices we quote with no hidden additional costs.
                                <div class="service-button mt-40 mt-lg-20 local-scroll">
                                    <a class="btn btn-mod btn-small btn-circle" data-toggle="modal" data-target="#illustrationModal">Show Illustration</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="illustrationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <h4 class="title">Cost of engaging Interior Design Firm X:</h4>
                        <p class="body">
                            4 ft Study Table ($180/ft) = $720 <br>
                            4 ft Top-Hung Cabinet ($180/ft) = $720 <br>
                            3 ft full height shoe cabinet ($300/ft) = $900 <br>
                            <strong>Grand total (incld GST) = $2503.80 **</strong>
                        </p>

                        <h4 class="title">Cost of engaging Singapore Carpentry:</h4>
                        <p class="body">
                            4 ft Study Table ($140/ft) = $560 <br>
                            4 ft Top-Hung Cabinet ($140/ft) = $560 <br>
                            3 ft Full Height Shoe Cabinet ($240/ft) = $720 <br>
                            <strong>Grand total (incld GST) = $1840</strong>
                        </p>

                        <p>
                            <strong>
                            Cost Saving: $2503.80 - $1840 = $663.80 <br>
                            <p class="final-save-percentage">% Cost Saving: ($663.80 / $1840) x 100% = 36.1%</p>
                            </strong>
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-mod btn-large" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="service-item">
                    <div class="si-cell">
                        <div class="si-inner">
                            <div class="service-intro">
                                <div class="service-icon">
                                    <span class="icon-calculator"></span>
                                </div>
                                <h3 class="service-title">Efficiency</h3>
                            </div>
                            <div class="service-descr">
                                Nothing matters more to us than ensuring our clients get their deliverables on time. At Singapore Carpentry, we are always punctual with our deliverables. In the event that delivery or installations of works are delayed for more than 7 working days, we will gladly refund you 3% of the total contract value.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="service-item">
                    <div class="si-cell">
                        <div class="si-inner">
                            <div class="service-intro">
                                <div class="service-icon">
                                    <span class="icon-picture"></span>
                                </div>
                                <h3 class="service-title">Custom Design</h3>
                            </div>
                            <div class="service-descr">
                              Have you experienced the frustration of cannot find nice furniture of the right measurement? With custom-made furniture, this problem would not occur! At Singapore Carpentry, we always innovate and design ever lasting appearance furniture to suit your home design! Furthermore, we have experienced interior designers to design your carpentry to turn your house into a designer’s choice home!
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="service-item">
                    <div class="si-cell">
                        <div class="si-inner">
                            <div class="service-intro">
                                <div class="service-icon">
                                    <span class="icon-diamond"></span>
                                </div>
                                <h3 class="service-title">Quality</h3>
                            </div>
                            <div class="service-descr">
                              We pride ourselves on quality! Each piece, installation and detail has been meticulously considered to ensure that the end result is a work of excellent quality. At Singapore Carpentry, we do not use compress wood! Instead, we offer premium quality plywood as well as spare parts that are used by top design firms in Singapore! Coupled with our experience designer,  Singapore Carpentry team is committed to providing our clients with beautiful, lasting furniture of superior workmanship.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
                
            </div>
            <!-- End Section Content -->
            
        </div>
    </section>
    <!-- End Services Section -->
            


    <div class="row">
      <!-- Team Section -->
      <section class="page-section bg-white" id="team">
      <div class="container relative">

        <!-- Section Headings -->
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="section-title">
              Team<span class="st-point">.</span>
            </div>
            <h2 class="section-heading">People are our most valuable assets</h2>
            <div class="section-line mb-60 mb-xxs-30"></div>
          </div>
        </div>
        <!-- End Section Headings -->
        <div ng-include src="'templates/team.html'"></div>
      </div>
      </section>
      <!-- End Team Section --> 
    </div>




    <!-- Features Section -->
    <section class="page-section bg-scroll bg-dark-alfa-50" data-background="images/full-width-images/section-bg-5.jpg">
        <div class="container relative">

            <!-- Section Headings -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title services-title">
                        Value-Added Services<span class="st-point">.</span>
                    </div>
                    <h2 class="section-heading services-subtitle">Other Services That We Offer To Assist Your Renovation Process</h2>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                </div>
            </div>
            <!-- End Section Headings -->
            
            <!-- Features Grid -->
            <div class="item-carousel owl-carousel animate-init" data-anim-type="bounce-in-right-large" data-anim-delay="200">

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-energy"></span>
                    </div>
                    <div class="features-title">
                        Electrical Work
                    </div>
                    <div class="features-descr">

                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-wrench"></span>
                    </div>
                    <div class="features-title">
                        Plumbing work
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-puzzle"></span>
                    </div>
                    <div class="features-title">
                        Ceiling &amp; Partition Work
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-layers"></span>
                    </div>
                    <div class="features-title">
                        Glass &amp; Mirror Work
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-grid"></span>
                    </div>
                    <div class="features-title">
                        Tiling
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-logout"></span>
                    </div>
                    <div class="features-title">
                        Door Work
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-note"></span>
                    </div>
                    <div class="features-title">
                        Design Work with technical &amp; 3D drawings
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-briefcase"></span>
                    </div>
                    <div class="features-title">
                      Office System Furniture 
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->  

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-notebook"></span>
                    </div>
                    <div class="features-title">
                        Commercial Interior Design &amp; Drafting
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-home"></span>
                    </div>
                    <div class="features-title">
                        Construction
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-bulb"></span>
                    </div>
                    <div class="features-title">
                        Light Planning
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="features-item">
                    <div class="features-icon">
                        <span class="icon-map"></span>
                    </div>
                    <div class="features-title">
                        Outdoor Landscape Design
                    </div>
                    <div class="features-descr">
                        
                    </div>
                </div>
                <!-- End Features Item -->

            </div>
            <!-- Features Grid -->
        </div>
    </section>
    <!-- Features Section -->
            

      
            
            
    <!-- Testimonial Section -->
    <section class="small-section bg-gray">
        <div class="container relative">                    
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    
                    <!-- Section Icon -->
                    <div class="section-icon color">
                        <span class="icon-bubbles"></span>
                    </div>
                    
                    <!-- Section Title -->
                    <h3 class="small-title"><span class="serif">Clients</span> say:</h3>
                    
                    <div class="section-line mt-20 mb-30"></div>
                    
                    <!-- Slider -->
                    <div class="single-carousel black owl-carousel">

                        <!-- Slider Item -->
                        <div>
                            <blockquote class="testimonial">
                                While most carpenters do not understand design as well as the practical needs of end consumers, Singapore Carpentry is able to translate concept into reality well.
                            </blockquote>
                            
                            <!-- Author -->
                            <div class="testimonial-author">
                                Chief Executive Officer, FreeMantle Media Asia
                            </div>
                        </div>
                        <!-- End Slider Item -->


                        <!-- Slider Item -->
                        <div>
                            <blockquote class="testimonial">
                                Good quality, value for money.
                            </blockquote>
                            
                            <!-- Author -->
                            <div class="testimonial-author">
                               Chief Operating Officer, Evia Isolution
                            </div>
                        </div>
                        <!-- End Slider Item -->


                        <!-- Slider Item -->
                        <div>
                            <blockquote class="testimonial">
                               Singapore Carpentry has helped me achieved full renovation at a fraction of interior design price. Without Singapore Carpentry, we would not have acheived such beautiful concept for our house.
                            </blockquote>
                            
                            <!-- Author -->
                            <div class="testimonial-author">
                               Mr. Prakash, Bishan Block 141
                            </div>
                        </div>
                        <!-- End Slider Item -->
                        
                    </div>
                    <!-- Ent Slider -->
                    
                </div>
            </div>                    
            
        </div>
    </section>
    <!-- End Testimonial Section -->
            
            
            
            
    <!-- Contact Section -->
    <section class="page-section bg-scroll bg-dark-alfa-90" data-background="images/about/factory-combined-bw-1920.jpg" id="contact">
        <div class="container relative">

            <div class="row">
                
            </div>
            
            <div class="row">
                
                <!-- Contact Info -->
                <div class="col-md-4">
                    <!-- Phone -->
                    <div class="contact-item mb-40 mb-md-20">
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="ci-text">Ernest Tan</div>
                        <div class="ci-text">8100 4193</div>
                    </div>
                    <!-- End Phone -->
                </div>                


                <div class="col-md-4">    
                    <!-- Email -->
                    <div class="contact-item mb-md-40">
                        <!-- Icon -->
                        <div class="ci-icon">
                            <a href="mailto:info@carpentry.sg">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        <div class="ci-text">Email</div>
                        <div class="ci-text"><a href="mailto:info@carpentry.sg">info@carpentry.sg</a></div>
                    </div>
                    <!-- End Email -->
                </div>
                <!-- End Contact Info -->


                <!-- Contact Info -->
                <div class="col-md-4">
                    <!-- Address -->
                    <div class="contact-item mb-40 mb-md-20">
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="ci-text">Operating Hours</div>
                        <div class="ci-text">Everyday 9am - 8pm <br>(including Sunday &amp; Public Holiday)</div>
                    </div>
                    <!-- End Address -->
                </div>
                
            </div>



            <div class="row">

                <div class="col-md-4">                    
                    <!-- Address -->
                    <div class="contact-item mb-40 mb-md-20">
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ci-text">Showroom Address</div>
                        <div class="ci-text">
                            280 Woodlands Industrial Park E5 <br>
                            Harvest Building #01-08 <br>
                            Singapore 757322
                        </div>
                    </div>
                    <!-- End Address -->
                </div>
                
               

                <div class="col-md-4">
                    
                    <!-- Address -->
                    <div class="contact-item mb-40 mb-md-20">
                        
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        
                        <div class="ci-text">Main Factory</div>
                        
                        <div class="ci-text">No. 62 Sungei Kadut Street 1</div>
                        
                    </div>
                    <!-- End Address -->

                </div>
                
                <div class="col-md-4">    

                    <!-- Address -->
                    <div class="contact-item mb-40 mb-md-20">
                        
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        
                        <div class="ci-text">Main Office</div>
                        
                        <div class="ci-text">
                            I-Cube Building #03-21 <br>
                            21 Heng Mui Keng Terrace <br>
                            Singapore 119613
                        </div>
                        
                    </div>
                    <!-- End Address -->
                    
                </div>
                <!-- End Contact Info -->
                
            </div>



            <div class="row">

                <div class="col-md-12">                    
                    <!-- Address -->
                    <div class="contact-item mb-40 mb-md-20 subsidaries">
                        <div class="ci-text">Singapore Carpentry Group (Subsidaries)</div>
                        <div class="ci-text">
                            Singapore Carpentry Interior Design Pte. Ltd. &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; Singapore Carpentry Spaces &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; Singapore Carpentry Workshop &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; Singapore Lighting Specialist &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; Singapore Carpentry BTO
                        </div>
                    </div>
                    <!-- End Address -->
                </div>
                
            </div>
            
        </div>
    </section>
    <!-- End Contact Section -->



    <!-- Bottom menu -->
    <div class="bot-menu local-scroll">
        
        <!-- See Map -->
        <a class="bot-menu-item animate-init" data-anim-type="fade-in-right" data-anim-delay="0" id="see-map">
            <span class="bot-menu-icon">
                <i class="fa fa-map-marker"></i>
            </span>
            See Map - Showroom
        </a>
        <!-- End See Map -->
        
        <!-- Scroll Up -->
        <a class="bot-menu-item animate-init" data-anim-type="fade-in-left" data-anim-delay="0" id="scroll-top">
            <span class="bot-menu-icon">
                <i class="fa fa-arrow-circle-o-up"></i>
            </span>
            Scroll Up
        </a>
        <!-- End Scroll Up -->
        
    </div>
    <!-- End Bottom menu -->
    




    <!-- Google Map -->
    <div class="google-map">
        <div data-address="1.450267, 103.791827" data-color="#000000" id="map-canvas"></div>
    </div>
    <!-- End Google Map -->

    <div ng-include src="'templates/footer.html'"></div>

</div>
<!-- End About Page -->
