<div class="contact-page" ng-controller="ContactCtrl">
    <!-- Contact Section -->
    <section class="page-section bg-scroll bg-dark-alfa-90" data-background="images/full-width-images/section-bg-8.jpg" id="contact">
        <div class="container relative">

            <div class="row">
                <!-- Section Headings -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="section-title">
                            Career<span class="st-point">.</span>
                        </div>
                        <h2 class="section-heading">Join the Singapore Carpentry team!</h2>
                        <div class="section-line mb-60 mb-xxs-30"></div>
                    </div>
                </div>
                <!-- End Section Headings -->
            </div>

                        
            <div class="row">
                
                <div class="blog-item mb-80 mb-xs-40">
                
                <h1 class="mt-0"></h1>
                
                <!-- Text -->
                <div class="lead">
                    <p>
                    Here at Singapore Carpentry, we are pioneering new services, innovating quality carpentry works and striving to improve ourselves constantly. As we are expanding to keep up with growing demand, we are always on the search for people who are innovative and skillful to join us. Above all, we welcome people who share our vision of contributing and value-adding to the community by providing quality carpentry at affordable prices. 
                    </p>
                </div>
                <!-- End Text -->   

                </div>
            </div>

            <div class="row">
              <!-- Team Section -->
              <section class="page-section" id="team">
              <div class="container relative">

                <!-- Section Headings -->
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                      Team<span class="st-point">.</span>
                    </div>
                    <h2 class="section-heading">People are our most valuable assets</h2>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                  </div>
                </div>
                <!-- End Section Headings -->
                <div ng-include src="'templates/team.html'"></div>
              </div>
              </section>
              <!-- End Team Section --> 
            </div>

            <div class="row">
              <div class="lead">
              <p>
                        Join us if you are keen to learn and grow along with the Singapore Carpentry team! We would love to hear from you.
                    </p>

                    <ul>
                      <li>Designer (Priorities will be given to candidates with local diploma or degree in architectural and design related field)
                      </li>
                        <li>Carpenters</li>
                        <li>Drafter &amp; In-house Designer</li>
                    </ul>

                    <p>If you have a cut for design and possess positive working attitude, kindly email your resume to <a href="mailto:career@carpentry.sg">career@carpentry.sg</a></p>

              </div>
            </div>

            <br><br><br><br><br><br><br><br>
    </section>
    <!-- End Contact Section -->



    <div ng-include src="'templates/footer_fixed.html'"></div>

</div>
<!-- End About Page -->
