<div class="portfolio-page" ng-controller="CommercialCtrl">
  <div class="bannercontainer bg-dark">
    <div class="banner">
      <ul>
        <li data-transition="fade" data-masterspeed="200" data-bgrepeat="no-repeat" ng-repeat="slide in slides" style="opacity: 0">
          <img src="{{slide.image_screen_url}}">
        </li>
      </ul>
    </div>
  </div>
</div>
<div ng-include src="'templates/footer_fixed.html'"></div>