<div class="contact-page" ng-controller="ContactCtrl">
    <!-- Contact Section -->
    <section class="page-section bg-scroll bg-dark-alfa-90" data-background="images/about/factory-combined-bw-1920.jpg" id="contact">
        <div class="container relative">

            <div class="row">
                <!-- Section Headings -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="section-title">
                            Contact Us<span class="st-point">.</span>
                        </div>
                        <h2 class="section-heading"></h2>
                        <div class="section-line mb-60 mb-xxs-30"></div>
                    </div>
                </div>
                <!-- End Section Headings -->
            </div>
            
            <div class="row">
                
                <!-- Contact Info -->
                <div class="col-md-4 col-md-offset-4">
                    <!-- Phone -->
                    <div class="contact-item mb-40 spacing">
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-phone fa-2x"></i>
                        </div>
                        <div class="ci-title">Ernest Tan</div>
                        <div class="ci-text">8100 4193</div>
                        <div class="ci-text"><a href="mailto:info@carpentry.sg">info@carpentry.sg</a></div>
                    </div>
                    <!-- End Phone -->
                </div>
            </div> 

            <div class="row">

                <div class="col-md-4 col-md-offset-4">                    
                    <!-- Address -->
                    <div class="contact-item mb-40 mb-md-20 spacing">
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-map-marker fa-2x"></i>
                        </div>
                        <div class="ci-title">Showroom Address</div>
                        <div class="ci-text">
                            280 Woodlands Industrial Park E5 <br>
                            Harvest Building #01-08 <br>
                            Singapore 757322
                        </div>
                    </div>
                    <!-- End Address -->
                </div>
            </div>
                
               
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    
                    <!-- Address -->
                    <div class="contact-item mb-40 mb-md-20">
                        
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-map-marker fa-2x"></i>
                        </div>
                        
                        <div class="ci-title">Main Factory</div>
                        <div class="ci-text">No. 62 Sungei Kadut Street 1</div>
                        
                    </div>
                    <!-- End Address -->

                </div>

            </div>

            <div class="row">
                
                <div class="col-md-4 col-md-offset-4">    

                    <!-- Address -->
                    <div class="contact-item mb-40 mb-md-20">
                        
                        <!-- Icon -->
                        <div class="ci-icon">
                            <i class="fa fa-map-marker fa-2x"></i>
                        </div>
                        
                        <div class="ci-title">Main Office</div>
                        <div class="ci-text">
                            I-Cube Building #03-21 <br>
                            21 Heng Mui Keng Terrace <br>
                            Singapore 119613
                        </div>
                        
                    </div>
                    <!-- End Address -->
                    
                </div>
                <!-- End Contact Info -->
                
            </div>
            
        </div>

        <div class="row">
            <!-- Section Headings -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                        Location<span class="st-point">.</span>
                    </div>
                    <h2 class="section-heading">Operating Hours: Everyday 10am - 6pm <br>(including Sunday &amp; Public Holiday)<br>(Showroom weekday visit is by appointment basis only)</h2>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                </div>
            </div>
            <!-- End Section Headings -->
        </div>
    </section>
    <!-- End Contact Section -->



    <!-- Bottom menu -->
    <div class="bot-menu local-scroll">
        
        <!-- See Map -->
        <a class="bot-menu-item animate-init" data-anim-type="fade-in-right" data-anim-delay="0" id="see-map">
            <span class="bot-menu-icon">
                <i class="fa fa-map-marker"></i>
            </span>
            Map - Showroom
        </a>
        <!-- End See Map -->
        
    </div>
    <!-- End Bottom menu -->
    




    <!-- Google Map -->
    <div class="google-map">
        <div data-address="1.450267, 103.791827" data-color="#000000" id="map-canvas"></div>
    </div>
    <!-- End Google Map -->

    <div ng-include src="'templates/footer_fixed.html'"></div>

</div>
<!-- End About Page -->
