<div class="pricing-page how-it-works" ng-controller="PricingCtrl">
    <!-- About Us Section -->
    <section class="page-section bg-white" id="about">
        <div class="container relative">
            
            <!-- Section Headings -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                        Pricing<span class="st-point">.</span>
                    </div>
                    <h2 class="section-heading"></h2>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                </div>
                
            </div>
            <!-- End Section Headings -->
            
            <!-- Nav Tabs -->
            <div class="align-center mb-50 mb-xxs-30">
                <ul class="nav nav-tabs tpl-minimal-tabs animate">
                    <li>
                        <a href="/pricing" data-toggle="tab">Pricing</a>
                    </li>
                    <li class="active">
                        <a href="/how-it-works" data-toggle="tab">How It Works</a>
                    </li>
                    <li>
                        <a href="/information" data-toggle="tab">More Info</a>
                    </li>
                    <li>
                        <a href="/terms" data-toggle="tab">Terms &amp; Condition</a>
                    </li>
                </ul>
            </div>
            <!-- End Nav Tabs -->
            
            <div class="row">
                <div class="col-md-12 col-lg-12 how-it-works">
                    <p>
                        To get started, it’s easy. Call us or drop us an email. We will get back to you in no time! Here's an overview of how it works:
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <img src="/images/pricing/workflow_2.png" alt="workflow" class="workflow-image">
                </div>
            </div>

            <div class="row">
                                
                <div class="col-md-6 col-lg-6 how-it-works">

                    <!-- Alt Service Item -->
                    <div class="alt-service-wrap">                                
                        <div class="alt-service-item" data-anim-type="fade-in" data-anim-delay="100">
                            <div class="alt-service-icon">
                                <span class="icon-bubbles"></span>
                            </div>
                            <h3 class="alt-services-title">1. Enquiry and Quotation</h3>
                            Measure the dimensions for your desired furnishing.<br>
                            Call us or drop us an email to inform us of your needs.<br>
                            We will send you a price quotation. <br><br><br><br><br><br>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <!-- Alt Service Item -->
                    <div class="alt-service-wrap">                                
                        <div class="alt-service-item" data-anim-type="fade-in" data-anim-delay="100">
                            <div class="alt-service-icon">
                                <span class="icon-user-following"></span>
                            </div>
                            <h3 class="alt-services-title">2. Accept</h3>
                            Accept and sign the agreement and the agreed quotation. <br>
                            Get started on designing your desired furniture!<br>
                            For projects less than $5000 contract value, you will need to make an initial 50% payment of the contract price upon
                            order confirmation.<br>
                            For projects more than or equal to $5000 contract value, make an initial 20% payment of the contract price upon
                            agreement.<br>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <!-- Alt Service Item -->
                    <div class="alt-service-wrap">                                
                        <div class="alt-service-item" data-anim-type="fade-in" data-anim-delay="100">
                            <div class="alt-service-icon">
                                <span class="icon-picture"></span>
                            </div>
                            <h3 class="alt-services-title">3. Design and Measure</h3>
                            Choose the desired design and materials.<br>
                            Our carpenter will visit the site and take care of the measurements for you!
                            <br><br><br><br><br><br>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>


                <div class="col-md-6 col-lg-6 how-it-works">

                    <!-- Alt Service Item -->
                    <div class="alt-service-wrap">                                
                        <div class="alt-service-item" data-anim-type="fade-in" data-anim-delay="100">
                            <div class="alt-service-icon">
                                <span class="icon-like"></span>
                            </div>
                            <h3 class="alt-services-title">4. Confirm</h3>
                            Set a delivery and installation date with us. <br>
                            Once done, confirm your order and we will get the work started right away! <br>
                            Our carpenters will start fabricating upon receiving the confirmation. <br>
                            For projects more than or equal to $5000 contract value, make another 40% payment of the contract price upon order confirmation.
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <!-- Alt Service Item -->
                    <div class="alt-service-wrap">                                
                        <div class="alt-service-item" data-anim-type="fade-in" data-anim-delay="100">
                            <div class="alt-service-icon">
                                <span class="icon-rocket"></span>
                            </div>
                            <h3 class="alt-services-title">5. Delivery</h3>
                            On the agreed date for delivery and installation, our carpenters will perform their installation work on the site. <br>
                            For projects more than or equal to $5000 contract value, make another 30% payment of the contract price upon start of delivery and installation. <br><br><br>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <!-- Alt Service Item -->
                    <div class="alt-service-wrap">                                
                        <div class="alt-service-item" data-anim-type="fade-in" data-anim-delay="100">
                            <div class="alt-service-icon">
                                <span class="icon-check"></span>
                            </div>
                            <h3 class="alt-services-title">6. Complete</h3>
                            We are done! At Singapore Carpentry, making your dream home is just that simple! <br>
                            For projects less than $5000 contract value, make another 50% payment of the contract price upon completion of the project. <br>
                            For projects more than or equal to $5000 contract value, make another 10% payment of the contract price to complete the payment. <br>
                            Enjoy living in your dream home!
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
            </div>

            
        </div>
    </section>
    <!-- End About Us Section -->

    <div ng-include src="'templates/footer.html'"></div>

</div>
