<div class="pricing-page" ng-controller="PricingCtrl">
    <!-- About Us Section -->
    <section class="page-section bg-white" id="about">
        <div class="container relative">
            
            <!-- Section Headings -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                        Pricing<span class="st-point">.</span>
                    </div>
                    <h2 class="section-heading"></h2>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                </div>
                
            </div>
            <!-- End Section Headings -->
            
            <!-- Nav Tabs -->
            <div class="align-center mb-50 mb-xxs-30">
                <ul class="nav nav-tabs tpl-minimal-tabs animate">
                    <li>
                        <a href="/pricing" data-toggle="tab">Pricing</a>
                    </li>
                    <li>
                        <a href="/how-it-works" data-toggle="tab">How It Works</a>
                    </li>
                    <li class="active">
                        <a href="/information" data-toggle="tab">More Info</a>
                    </li>
                    <li>
                        <a href="/terms" data-toggle="tab">Terms &amp; Condition</a>
                    </li>
                </ul>
            </div>
            <!-- End Nav Tabs -->
            
            <!-- Post -->
            <div class="blog-item mb-80 mb-xs-40">
                
                <h1 class="mt-0">Pricing</h1>
                
                <!-- Text -->
                <div class="lead">
                    <p>
                    </p>
                </div>
                <!-- End Text -->   
            
                <!-- Text -->
                <div class="blog-item-body">
                    
                    <p>
                        In order to help you make an informed choice and facilitate the deciding process, do take note of the following:
                    </p>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">

                            <ul>
                                <li>Singapore Carpentry's pricing on website indicates standard cabinet designs.</li>
                                <li>Singapore Carpentry's Standard height for a full height cabinet is 8 feet. Any height above 8 feet will be subject to additional charges.</li>
                                <li>Any personalized designs or additional materials will be subject to additional charges.</li>
                                <li>All kitchen cabinet sets come with 1 dish rack and 1 set of drawers free, Singapore Carpentry reserves the right to change the terms of this free gifts.</li>
                                <li>All cabinet door hinges are soft closing. Singapore Carpentry do not offer complimentary soft closing drawer tracks, it would come under additional cost from respective distributor of the mechanism. However if you have any additional specifications, do let us know. Singapore Carpentry is more than happy to help!</li>
                            </ul>
                            
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <ul>
                                <li>Every $10,000 spent will come with a complimentary 3D perspective drawing.</li>
                                <li>
                                    Height Definitions:<br>
                                    Low height: &lt; 3 ft <br>
                                    Mid height: 3 – 6 ft <br>
                                    Standard full height: 6 – 8 ft <br>
                                    More than full height: &gt; 8ft
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!-- End Text -->
            
            </div>
            <!-- End Post -->



            <!-- Post -->
            <div class="blog-item mb-80 mb-xs-40">
                
                <h1 class="mt-0">How to Measure</h1>
                
                <!-- Text -->
                <div class="lead">
                    <p>
                    </p>
                </div>
                <!-- End Text -->   
            
                <!-- Text -->
                <div class="blog-item-body">
                    
                    <p>
                        Before custom-making your own furniture with us, you will need to measure your space. Measure everything once and save the measurements for easy reference later on. Here’s a simple step-by-step method to take your measurements before purchasing your custom-designed furniture!
                    </p>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">

                            <ol>
                                <li>Measure the front door/other points of entry to ensure the furniture can fit through.</li>
                                <li>Measure all passageways through which the furniture has to travel to reach its destination. Any furniture you wish to fabricate should be 4 inches less than the passage requirements. This is to facilitate easy transportation and reduce risk of damage or scratches.</li>
                                <li>Measure your floor plan to determine the width and breadth of your desired custom-made furniture. We will take care of the height!</li>
                                <li>Key your measurements into the innovative price list system to estimate the cost of fabricating the furniture.</li>
                            </ol>

                        </div>
                    </div>
                    
                </div>
                <!-- End Text -->
            
            </div>
            <!-- End Post -->
            
        </div>
    </section>
    <!-- End About Us Section -->

    <div ng-include src="'templates/footer.html'"></div>

</div>