<div class="fullscreenbanner-container bg-dark" ng-controller="HomeCtrl">
  <div class="fullscreenbanner">
    <ul>
      <li data-transition="fade" data-masterspeed="3000" data-bgrepeat="no-repeat" ng-repeat="slide in slides" style="opacity: 0">
        <img src="{{slide.image_screen_url}}">
      </li>
    </ul>
  </div>
</div>


<div ng-include src="'templates/footer_fixed.html'"></div>