<div class="pricing-page" ng-controller="PricingCtrl">
    <!-- About Us Section -->
    <section class="page-section bg-white" id="about">
        <div class="container relative">
            
            <!-- Section Headings -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                        Pricing<span class="st-point">.</span>
                    </div>
                    <h2 class="section-heading"></h2>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                </div>
                
            </div>
            <!-- End Section Headings -->
            
            <!-- Nav Tabs -->
            <div class="align-center mb-50 mb-xxs-30">
                <ul class="nav nav-tabs tpl-minimal-tabs animate">
                    <li class="active">
                        <a href="/pricing" data-toggle="tab">Pricing</a>
                    </li>
                    <li>
                        <a href="/how-it-works" data-toggle="tab">How It Works</a>
                    </li>
                    <li>
                        <a href="/information" data-toggle="tab">More Info</a>
                    </li>
                    <li>
                        <a href="/terms" data-toggle="tab">Terms &amp; Condition</a>
                    </li>
                </ul>
            </div>
            <!-- End Nav Tabs -->
            
            
            <div id="pricing-list">
              <table>
                <!-- Table Header -->
                <thead>
                  <tr>
                    <td><span class="icon icon-tag"></span> Item</td>
                    <td><span class="icon icon-layers"></span> Surface</td>
                    <td><span class="icon icon-tag"></span> Unit Price</td>
                    <td><span class="icon icon-cursor-move"></span> Quantity</td>
                    <td><span class="icon icon-basket"></span> Item Price</td>
                  </tr>
                </thead>
                <!-- End of Table Header -->

                <!-- Table Body -->
                <tbody>
                  <tr ng-repeat="item in items">
                    <td ng-bind-html="item.name"></td>
                    <td>
                      <div class="btn-group">
                        <label class="btn btn-default" data-ng-repeat="surface in item.surfaceOptions" ng-model="item.unitPrice" btn-radio="surface.price">{{surface.name}}</label>
                      </div>
                    </td>
                    <td>{{ item.unitPrice | dollarfy }}</td>
                    <td>
                      <input type="number" name="quantity" min="0" max="10000" ng-model="item.quantity" ng-hide="item.subsection"><span class="quantity-unit" ng-bind-html="item.quantityUnit" ng-hide="item.subsection"></span>
                    </td>
                    <td>{{ item.itemPrice() | dollarfy }}</td>
                  </tr>
                </tbody>
                <!-- End of Table Body -->

              </table>
            </div>

        </div>
    </section>
    <!-- End About Us Section -->

    <div id="pricing-total">
      <h3><span class="icon icon-calculator"></span> Total Price</h3>
      <p>{{ totalPrice() | dollarfy }}</p>
    </div>

    <div ng-include src="'templates/footer.html'"></div>
</div>