<div class="pricing-page" ng-controller="PricingCtrl">
    <!-- About Us Section -->
    <section class="page-section bg-white" id="about">
        <div class="container relative">
            
            <!-- Section Headings -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                        Pricing<span class="st-point">.</span>
                    </div>
                    <h2 class="section-heading"></h2>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                </div>
                
            </div>
            <!-- End Section Headings -->
            
            <!-- Nav Tabs -->
            <div class="align-center mb-50 mb-xxs-30">
                <ul class="nav nav-tabs tpl-minimal-tabs animate">
                    <li>
                        <a href="/pricing" data-toggle="tab">Pricing</a>
                    </li>
                    <li>
                        <a href="/how-it-works" data-toggle="tab">How It Works</a>
                    </li>
                    <li>
                        <a href="/information" data-toggle="tab">More Info</a>
                    </li>
                    <li class="active">
                        <a href="/terms" data-toggle="tab">Terms &amp; Condition</a>
                    </li>
                </ul>
            </div>
            <!-- End Nav Tabs -->
            
            <!-- Post -->
            <div class="blog-item mb-80 mb-xs-40">
            
                <!-- Text -->
                <div class="blog-item-body">
                    
<p align="center">
    <em>
        While it is our fundamental principle to provide excellence in our work, we also acknowledge that things inadvertently may go awry despite our best
        efforts. Therefore, it is in everyone’s interests that our valued clients and Singapore Carpentry establish a common ground of understanding.
    </em>
</p>
<p align="center">
    <strong>By engaging us to perform the works described above, you will also be deemed to have accepted these terms and conditions as set out below:</strong>
</p>
<p align="center">
    <strong>TERMS AND CONDITIONS</strong>
</p>
<p>
    <em>1. </em>
    <em>Time Period</em>
</p>
<p>
    a. You agree to allow our contractors, agents, assigns and representatives to enter upon and have access to your property for the purposes of carrying out
    the agreed works (the “Works”) for a period that may extend to up to 6 months from the date of acceptance of this agreement.
</p>
<p>
    b. The signed agreement constitutes a binding contract (the “Agreement”) between Singapore Carpentry and you our client (the “Parties”). In this Agreement,
    time is of the essence and the Works must commence within one year from the date of this Agreement
</p>
<p>
    <em>2. </em>
    <em>Variation of Works</em>
</p>
<p>
    a. We will, if authorised by you, your representative, assign or agent in writing, subject to clause 2(b) vary the Works accordingly.
</p>
<p>
    b. Any additional Works or variation of Works that are requested may incur additional charges that are not reflected in the price reflected above (the
    “Agreed Price”) and you will be liable to pay for these additional charges (if any)
</p>
<p>
    <em>3. </em>
    <em>Payment </em>
</p>
<p>
    a. It is a condition of this Agreement that you agree to pay us the Agreed Price or such other sums as may be payable under the terms of this agreement in
    the manner agreed below in this clause 3.
</p>
<p>
    b. You will require to bear all costs and expenses in applying for and obtaining all necessary approvals, licences and permits. You will also undertake to
    comply with all relevant laws and regulations in respect of the Works to be done.
</p>
<p>
    c. Additional fees such as the haulage fees, renovation permit fees, Professional Engineer endorsement fees and other miscellaneous fees will be paid by
    you in advance to enable us to carry out the Works.
</p>
<p>
    d. We shall be entitled to receive your payment within 7 business days as they fall due in accordance with this agreement at the following stages:
</p>
<p>
    For projects that are less than Sgd$5,000.00: 50% upon confirmation of the contract and 50% upon the completion of the Works.
</p>
<p>
    For projects that are equal to or more than S$5,000.00: 20% upon the signing of this agreement, 40% upon the commencement of the Works, 30% upon the
installation of the carpentry work and 10% upon the completion of the Works. All payment must be in the form of cheque payment addressing to    <strong>“Singapore Carpentry”,</strong> any cash payment will not be accepted unless it is authorized by the management with a company stamp.
</p>
<p>
    e. In the event of a cancellation subject to the mutual consent of both parties, 15% of the total Agreed Price will be charged and deducted from the
    deposit that is paid after allowing for deductions for all costs and expenses already spent to fulfill this Agreement.
</p>
<p>
    f. It is hereby agreed that the contract price and other sums (if any) payable to you under the terms of this agreement shall be exclusive of any
    applicable Goods and Services Tax which may, from time to time, be imposed or charged before, on or after the date of this agreement (including any
    subsequent revisions thereto) by any government, quasi-government, statutory or tax authority calculated with reference to the amount of the contract sum
    and you shall pay all such G.S.T or reimburse us for the payment of G.S.T., as the case may be, in such manner and within such period so as to comply or
    enable us to comply with any applicable orders or directives of the said authorities and the relevant laws and regulations.
</p>
<p>
    Any contract sum which is due and owned must be paid within 7 days of it becoming due and owning, whether you have received any notice or not, failing
    which we will charge you an interest of 1% per month calculated on a daily basis on the sum which is due and owned from the time it is due and owned to the
    payment of that sum.
</p>
<p>
    g. Failing to make the payment which stipulated time/agreement, we have the liberty to cancel this agreement, by notice in writing to you and to recover
    from you the fair value of work executed and the amount of loss we may sustain in respect of any plants of materials supplied or purchased or work prepared
    or partially prepared for this agreement and any other loss we may suffer.
</p>
<p>
    <em>4. </em>
    <em>Nature of Works </em>
    [comment: see the same comment from the other document]<em></em>
</p>
<p>
    a. FOC item, Discount or REFUND must seek management approval in written notice, signature and any verbal agreements will not be recognised by the company.
</p>
<p>
    b. Contract undertaken between the clients and the authorized salesperson is subjected to final approval by contractor.
</p>
<p>
    c. In the event of any discounts given to the clients by the contractor during the course of work, he/she is not entitled to omit or rescind any scope of
    works.
</p>
<p>
    d. In the event of any omission in the scope of works, the contractors receive the right to make any discounted sum of monies granted to clients null and
    void.
</p>
<p>
    e. All measurement and specification of designs are subject to modification that is based on the site structure.
</p>
<p>
    f. All natural material (marble, granite, stone, timber etc.) offer no absolute uniformity in grains, colours, tone consistency and texture
</p>
<p>
    g. If there is no notice given to us in the warning of any defects in the workmanship or material supplied within 7 days after the end of period of work,
    it shall be deemed that the work or material supplied was in accordance with this agreement and you shall thereafter not entitled to raise any objections.
</p>
<p>
    h. The schedule that is provided in the quote is only an estimate of the time required to complete the work. Although we will try our best to deliver the
    work as per the schedule, we reserve the right to amend/vary the schedule due to the nature of the work.
</p>
<p>
    <em>5. </em>
    <em>Liability, Remedies, Third Party Rights and Governing Law</em>
</p>
<p>
    a. This Agreement should be construed in accordance with the laws of Singapore.
</p>
<p>
    b. While every reasonable endeavour will be made by Singapore Carpentry to safeguard the premises, we will not be held liable for any loss of valuable
    items in and around the premises during the renovation period unless such losses are due to the negligence or willful default of Singapore Carpentry.
</p>
<p>
    c. Notwithstanding clause 5(b), our liability shall only be limited to a maximum of the Agreed Price of this Agreement.
</p>
<p>
    d. This agreement constitutes the entire contract and unless written in this agreement, we shall not be deemed to have made any representation and or given
    any warranties to you. For avoidance of doubt, our representatives, agents and/employees are not authorised to make any representation unless it is signed
    by the director of the company.
</p>
<p>
    e. For the avoidance of doubt, the parties to this Agreement hereby declare that they irrevocably submit to the exclusive jurisdiction of the Courts of
    Singapore and agree that Singapore is the forum <em>conveniens</em> for the resolution of all disputes arising out of, or in connection with this Agreement
    including but not limited to, breach of contract or torts.
</p>
<p>
    f. This Agreement constitutes the whole Agreement between the parties and supersedes any previous arrangement, understanding or agreement between them
    relating to the subject matter that this Agreement covers whether oral or in writing.
</p>
<p>
    g. A person who is not a party to this Agreement shall not have any rights under the Contracts (Rights of Third Parties) (Cap 53B) of Singapore to enforce
    any term of this Agreement.
</p>
<p>
    h. No remedy conferred by any of the provisions of this Agreement is intended to be exclusive of any other remedy which is otherwise available at law or in
    equity, and each and every other remedy shall be cumulative and shall be in addition to every other remedy given hereunder or now or hereafter existing at
    law or in equity. The election of any one or more of such remedies by any of the parties hereto shall not constitute a waiver by a party of the right to
    pursue any other available remedies.
</p>

                    
                </div>
                <!-- End Text -->
            
            </div>
            <!-- End Post -->
            
        </div>
    </section>
    <!-- End About Us Section -->

    <div ng-include src="'templates/footer.html'"></div>
</div>