/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'plugins/metisMenu/metisMenu.min'
 *= require 'plugins/timeline'
 *= require 'sb-admin-2'
 *= require 'plugins/morris'
 *= require 'font-awesome-4.1.0/css/font-awesome.min'
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.portfolio-index {
  .action-section {
    text-align: center;

    a {
      margin-left: 40px;
    }
  }
  .list-section {
    margin-top: 20px;
    padding-bottom: 120px;
  }
  .panels {
    width: 750px;
    margin: 0 auto;
  }
  .panel {
    margin-bottom: 5px;
    height: 100px;

    img {
      width: 120px;
    }
    
    .panel-body {
      padding: 5px;

      .icon-col {
        text-align: center;
      }
      .info-col {
        padding-top: 12px;
      }
      .delete-col {
        padding-top: 29px;
      }
      i.move {
        color: #999;
        margin-top: 37px;
      }
    }
  }
}

.portfolio-new {

}