<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= admin_dashboard_path %>">Singapore Carpentry | Admin Portal</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="mailto:carpentry.sg@gmail.com"><i class="fa fa-user fa-fw"></i> SG Carpentry User</a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <%= image_tag 'logo-dark.png', alt: 'Singapore Carpentry Logo', style: "margin: 0 auto;" %>
                </li>
                <li><a class="<%= menu_active(admin_dashboard_path) %>" href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                <li><a class="<%= menu_active(admin_home_slides_path) %>" href="<%= admin_home_slides_path %>"><i class="fa fa-home fa-fw"></i> Home Portfolio</a></li>
                <li><a class="<%= menu_active(admin_commercial_slides_path) %>" href="<%= admin_commercial_slides_path %>"><i class="fa fa-building-o fa-fw"></i> Commercial Portfolio</a></li>
                <li><a class="<%= menu_active(admin_residential_slides_path) %>" href="<%= admin_residential_slides_path %>"><i class="fa fa-pagelines fa-fw"></i> Residential Portfolio</a></li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>