<div class="portfolio-index" ng-app="sortableApp" ng-controller="MainCtrl">
  <input id="slide-model" type="hidden" value="<%= slide_type %>Slides">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Manage Portfolio: <%= slide_type %></h1>
    </div>
  </div>

  <div class="row action-section">
    <div class="col-lg-12">
      <%= link_to new_path, class: "btn btn-outline btn-primary btn-lg" do %>
        <i class="fa fa-plus-circle"></i> Add <%= slide_type %> Slide
      <% end %>
      <a ng-click="updateOrder()" class="btn btn-outline btn-primary btn-lg">
        <i class="fa fa-refresh"></i> Update Order
      </a>
    </div>
  </div>

  <div class="row list-section">
    <div class="col-lg-12">

      <div class="panels" ui-sortable="sortableOptions" ng-model="slides">
        <div class="panel panel-info" ng-repeat="slide in slides">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-1 icon-col">
                  <i class="fa fa-arrows move"></i>
                </div>
                <div class="col-lg-3 image-col">
                  <img src="{{slide.image_thumb_url}}">
                </div>
                <div class="col-lg-6 info-col">
                  <p><strong>{{ slide.file_name }}</strong> <small>{{ slide.created_at }}</small></p>
                  <a href="{{slide.image_original_url}}" target="_window" class="btn btn-outline btn-sm btn-info"><i class="fa fa-search-plus"></i> View Original Size</a>
                  <a href="{{slide.image_screen_url}}" target="_window" class="btn btn-outline btn-sm btn-info"><i class="fa fa-search-plus"></i> View Screen Size</a>
                </div>
                <div class="col-lg-2 delete-col">
                  <a ng-click="destroySlide(slide)" target="_window" class="btn btn-outline btn-sm btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
              </div>
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'sortableApp' %>
<% end %>