<div class="portfolio-new">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Manage Portfolio: <%= @slide_type %> | New Slide</h1>
    </div>
  </div>

  <div class="row form">
    <div class="col-lg-6">
      <div class="panel panel-info">
        <%= bootstrap_form_for(@slide, url: index_path, html: { multipart: true }) do |f| %>
          <div class="panel-heading">
              Add a new <%= slide_type %> Slide
          </div>
          <div class="panel-body">
            <%= f.file_field :image, required: true %>  
          </div>
          <div class="panel-footer">
              <%= f.submit "Add Slide" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>