<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'admin/shared/head' %>
</head>
<body>
  <div id="wrapper">

    <%= render 'admin/shared/nav' %>

    <div id="page-wrapper">
      <%= yield %>
    </div>

  </div>

  <%= javascript_include_tag 'admin' %>
  <%= yield :page_scripts %>

</body>
</html>
